<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [5]:
# 入力用
import random

x = []
y = []

for i in range(5):
  a = 2220000 + random.randint(1,280)*10
  x.append(a)

for i in range(5):
  y.append('b' + str(x[i])) 

print(x)
print(y)

# for i in range(5):
#   a = 2220000 + random.randint(1,280)*10
#   y = 'b' + str(a)
#   x.append(y)

[2220610, 2220340, 2221960, 2220880, 2220430]
['b2220610', 'b2220340', 'b2221960', 'b2220880', 'b2220430']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [30]:
import random

a = random.sample(range(1,10),k=5)
b = random.sample(range(1,10),k=5)
c =[]

for i in range(5):
  c.append(a[i] + b[i])

print(a)
print(b)
print(c)

[3, 5, 7, 4, 1]
[5, 9, 8, 7, 2]
[8, 14, 15, 11, 3]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [31]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [35]:
# 入力用
import random

random.shuffle(todohuken_list)

a = []

for i in range(12):
  data = todohuken_list[4*i:4*(i+1)]
  a.append(data)
  
print(a)

[['神奈川県', '茨城県', '沖縄県', '大阪府'], ['島根県', '埼玉県', '群馬県', '福島県'], ['兵庫県', '熊本県', '青森県', '香川県'], ['大分県', '富山県', '千葉県', '岩手県'], ['山形県', '和歌山県', '広島県', '石川県'], ['奈良県', '愛媛県', '岐阜県', '鳥取県'], ['東京都', '岡山県', '福井県', '山梨県'], ['栃木県', '新潟県', '宮崎県', '静岡県'], ['鹿児島県', '京都府', '三重県', '愛知県'], ['長野県', '高知県', '北海道', '秋田県'], ['宮城県', '福岡県', '徳島県', '山口県'], ['滋賀県', '佐賀県', '長崎県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [2]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [11]:
print(university_list)

a = []
list1 = [0,0,0,0]

for i in range(4):
  a.append(int(university_list[i].split(",")[1]))

a.sort()
print(a)

for i in range(4):
  if a[0] == int(university_list[i].split(",")[1]):
    list1.insert(0, university_list[i])
  elif a[1] == int(university_list[i].split(",")[1]):
    list1.insert(1,university_list[i])
  elif a[2] == int(university_list[i].split(",")[1]):
    list1.insert(2,university_list[i])
  elif a[3] == int(university_list[i].split(",")[1]):
    list1.insert(3,university_list[i])
  
list2 = [i for i in list1 if i != 0]
print(list2)

['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
[23, 25, 74, 105]
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [55]:
N = 100

Fizz =[]
Buzz =[]
FizzBuzz = []
others = []

for i in range(1,N+1):
  if i%3 == 0 and i%5 == 0:
    FizzBuzz.append(i)
  elif i%3 == 0:
    Fizz.append(i)
  elif i%5 == 0:
    Buzz.append(i)
  else:
    others.append(i)

print(f"FizzBuzzの数 : {len(FizzBuzz)}")
print(f"Fizzの数 : {len(Fizz)}")
print(f"Buzzの数 : {len(Buzz)}")
print(f"othersの数 : {len(others)}")

FizzBuzzの数 : 6
Fizzの数 : 27
Buzzの数 : 14
othersの数 : 53